body{
    margin: 0;
    background-color: #121212;
    color: white;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#mainContent{
    flex: 1;
    display: flex;
}

#searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 15px;
    border-bottom: 1px solid #333;
}
#searchWrapper{
    width: 500px;
    max-width: 80%;
    position: relative;
}
#searchBar{
    width: 500px;
    max-width: 80%;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #333;
    border-radius: 8px;
    outline: none;
}

#searchBar:focus{
    border-color: #757575;
    background-color: #303030;
}

#searchPage{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    color: white;
}
#searchPage.hidden{
    display: none;
}

#searchResults{
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;

    max-height: 200px;
    overflow-y: auto;

    z-index: 1000;
}
#searchResults:empty{
    display: none;
}

.search-result{
    padding: 10px;
    cursor: pointer;
}

.search-result:hover{
    background-color: #2a2a2a;
}



#sidebar{
    width: 250px;
    border-right: 1px solid #333;
    padding: 10px;
    box-sizing: border-box;
}

#title{
    border: none;
    outline: none;
    background: transparent;
    font-size: 26px;
    color: white;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

#dashboard{
    flex: 1;
    padding: 20px;
    color: white;
}

#deleteBtn{
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 8px 16px;

    background-color: #1e1e1e;
    color:white;
    border: 1px solid #333;
    border-radius: 6px;

    cursor: pointer;
}

#deleteBtn:hover{
    background-color: #2a2a2a;
}

#editor {
    flex: 1;

    width: 100%;
    height:auto;

    resize: none;
    border: none;
    outline: none;

    background-color: transparent;
    color: white;

    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
}

#editor::placeholder {
    content: "Start typing here...";
    color: #888;
}

#addNoteItem{
    width: 40px;
    height: 40px;
    margin: 10px auto;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid #333;

    background-color: #1e1e1e;
    color: white;

    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    
}

#addNoteItem:hover {
    background-color: #2a2a2a;
}

.note-item{
    width: 100%;
    padding:10px;
    margin-bottom: 10px;

    background-color: #1e1e1e;
    color: white;
    border: 1px solid #333;

    border-radius: 8px;

    cursor: pointer;
    font-size: 15px;
}

.note-item:hover{
    background-color: #2a2a2a;
}

.hidden{
    display: none;
}

#deleteModal{
    position: fixed;
    inset: 0;

    
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#deleteModal.show{
    display: flex;
}

#deleteModalContent{
    background-color: #1e1e1e;
    color: white;

    padding: 20px;
    border-radius: 8px;

    min-width: 250px;
    text-align: center;
}

#modalButtons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}